@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #fff;
 margin: 0;
 padding: 0;
 box-sizing: border-box;

 font-family: 'Poppins', sans-serif;
 background: linear-gradient(140deg, #0A5783 5.05%, #18A19A 100%);
}
main{
  height: 100vh;
}

.top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.top h1{
  color: #FFF;
font-size: 56px;
font-family: Poppins;
font-weight: 600;
}

.content{
  display: flex;
  width: 314px;
  height: 82px;
  flex-direction: column;
  flex-shrink: 0;
}

.top p{
  color: #FFF;
text-align: center;
font-size: 18px;
font-family: Poppins;
font-weight: 200;
line-height: 130%;
}

.btn{
  border-radius: 32px;
background: #FB7306;
box-shadow: 2px 3px 3px 0px #074553;
padding: 9px 38px 8px 42px;
font-weight: 600;
font-size: 18px;
font-family: Poppins;
}

.middle{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

 .row{
display: flex;
align-items: center;
margin-bottom: 5rem;
}

 .row p{
  position: relative;
  margin-left: 4px;
}

.row p:after{
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  height: 2px;
  z-index: -1;
content: "";
width: 12rem;
background-color: #fff;
}

.right_part .row{
  margin-left: -8rem;
}


.middle img{
  z-index: -100;
}

.bottom_up{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;
  z-index: 99 !important;
  position: absolute;
  margin-top: 12rem;
}



.bottom_up h1{
  color: #FFF;
font-size: 40px;
font-family: Poppins;
font-weight: 700;

}

.content_frm{
  display: flex;
  align-items:center ;
  justify-content: space-evenly;
  width: 90vw;

}

.content_frm div{
  width: 165px;
  text-align: center;
}

.content_frm p{
  font-weight: 200;
}

#bottom{
  position: relative ;
  z-index: 1;
  bottom: 0 !important;
  margin-top: -11rem;
 }

 @media(max-width:1080px){
  .top{
    margin-top: 6rem;
  }
  #form{
    width: 700px;
  }
 }

 @media(max-width:980px){
  #bottom{
    bottom: 0;
    position: fixed;
    margin-top: 6rem;
  }
  #form{
    width: 600px;
  }
  .top{
    margin-top: 6rem;
  }
  .middle{
    margin-top: 2rem;
  }
  .bottom_up{
    margin-top:-8rem !important;
  }
  
 }

 @media(max-width:870px){
  .bottom_up{
    margin-top:-6rem !important;
  }
 
 }

 .bottom_up h1{
  margin-top: 5rem;
 }

 #form{
  margin-top: 2rem;
  width: 750px;
 }

 .bottom_up{
  margin-top: 5rem;
 }

 .cust_btn{
 margin-top: 5rem;
 }



 /* Todo css */
 .title{
  text-align: center;
 }
 .main-div {
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 53%,
    rgba(252, 176, 69, 1) 100%
  );
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.child-div {
  text-align: center;
  margin-top: 6rem;
}

.child-div figure figcaption {
  color: #fff;
  font-size: 2.2rem;
  padding-top: 1.5rem;
  text-transform: capitalize;
}

input {
  min-width: 20rem;
  height: 3.4rem;
  padding: 1rem 0.25em;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.42857143;
  margin-top: 1rem;
  color: rgb(58, 57, 57);
  background-color: #fff;
  background-image: none;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  -webkit-box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input,
input:focus,
input:active,
input:active:focus {
  border: none;
  padding: 2.3rem 1.5rem;
  outline: none;
}
input {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
input:focus {
  -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}

.todo-btn {
  width: 5rem;
  display: flex;
  justify-content: space-around;
}

.custom_bt{
  background:  linear-gradient(140deg, #0A5783 5.05%, #18A19A 100%);;
}

.fa {
  margin-left: -2.5rem;
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  background-color: #fff;
  background-image: none;
  color: #666;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  font-size: 2rem;
}
.fa:hover {
  color: rgb(47, 214, 122);
}

.tick{
  background: transparent;
  right: 1;
}

.fa-plus:before {
  content: "\f067";
  font-size: 1.5rem;
}

.showItems {
  margin-top: 3rem;
  text-align: center;
}

.eachItem {

  padding: 1.2rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.7rem;
  margin-left: 1rem;
  min-width: 15rem;
  word-break: break-word;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eachItem:hover {
  background: rgb(249, 249, 252);
  color: rgb(107, 99, 133);
}

.showItems .eachItem h3 {
  padding-left: 1rem;
  font-size: 1.8rem;
  color: #074553;;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.fa-trash-alt,
.fa-edit {
  /* margin-left: -2.5rem; */
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  color: rgb(251, 251, 251);
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  font-size: 2rem;
}

.addItems .fa-edit {
  color: rgb(47, 214, 122);
}

.fa-edit {
  margin-left: -3.5rem;
}

.eachItem .fa-trash-alt {
  color: rgb(214, 47, 61);
}

.eachItem:hover .fa-edit {
  color: rgb(100, 214, 47);
}

.eachItem:hover h3 {
  color: rgb(85, 41, 220);
}



.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #000;
  outline: solid 2px #000;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.effect04::before,
.effect04 span {
  margin: 0 auto;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-duration: 0.4s;
}

.effect04:hover {
  background-color: rgb(85, 41, 220);
}

.effect04:hover span {
  -webkit-transform: translateY(-400%) scale(-0.1, 20);
  transform: translateY(-400%) scale(-0.1, 20);
}

.effect04::before {
  content: attr(data-sm-link-text);
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1, 20);
  transform: translateY(500%) scale(-0.1, 20);
}

.effect04:hover::before {
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1, 1);
  transform: translateY(0) scale(1, 1);
}

footer {
  width: 100%;
  height: 3rem;
  margin-top: auto;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

footer p {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  input {
    min-width: 30rem;
  }

  .eachItem {
    min-width: 30rem;
  }
}

 /* Todo css */